# ESPHome wykluczenia
esphome/.esphome/
esphome/secrets.yaml
.env
# Blokada pliku docker-compose


# Wykluczenie wszystkiego z wyjątkiem wybranych folderów
/*
!/lektor-web/
!/esphome/
!/dashboard/
!/.gitignore
