# ESPHome wykluczenia
esphome/.esphome/
esphome/secrets.yaml

# Blokada pliku docker-compose
docker-compose.yml

# Wykluczenie wszystkiego z wyjątkiem wybranych folderów
/*
!/lektor-web/
!/esphome/
!/.gitignore
